#[MATERIAL DEFINITION FOR MC-GPU: interaction mean free path and sampling data from PENELOPE 2006]
#[MATERIAL NAME]
#  {{ name }}
#[NOMINAL DENSITY (g/cm^3)]
#  {{ roh }}
#[NUMBER OF DATA VALUES]
# 24001
#[MEAN FREE PATHS (cm)]
#[Energy (eV)     | Rayleigh        | Compton         | Photoelectric   | TOTAL (+pair prod) (cm) | Rayleigh: max cumul prob F^2]
{{ freepath }}
#[RAYLEIGH INTERACTIONS (RITA sampling  of atomic form factor from EPDL database)]
#[DATA VALUES TO SAMPLE SQUARED MOLECULAR FORM FACTOR (F^2)]
#   128
#[SAMPLING DATA FROM COMMON/CGRA/: X, P, A, B, ITL, ITU]
{{ rita }}
#[COMPTON INTERACTIONS (relativistic impulse model with approximated one-electron analytical profiles)]
#[NUMBER OF SHELLS]
#  {{ compton_len }}
#[SHELL INFORMATION FROM COMMON/CGCO/: FCO, UICO, FJ0, KZCO, KSCO]
{{ compton_data }}
